*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: mediumvioletred;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(208, 218, 238);
}
#header{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  padding: 10px;
}
#header h1{
  color: steelblue;
}
#header hr {
  width: 110px;
  height: 10px;
  background-color: mediumvioletred;
  border-radius: 15px;
  margin-top: 7px;
}
#main{
  flex:2;
  min-width: 100vw;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.main-grid-item{
  border-radius: 15px;
  padding: 10px;
}
.main-grid-item h3, hr {
  align-self: center;
}
#projects-div{
  background-color: rgb(192, 241, 241);
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
#to-dos-div{
  background-color: rgb(188, 188, 230);
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
#notes-div{
  background-color: rgb(209, 187, 187);
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
.main-grid-item hr{
  width: 90%;
  height: 5px;
  background-color: steelblue;
  border-radius: 15px;
  margin-top: 4px;
}

@media screen and (max-width: 650px) {
  #main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  #projects-div{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #to-dos-div{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #notes-div{
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
#footer{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  font-size: 1.3rem;
  font-weight: 500;
}
