#note-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#note-overlay.active {
  opacity: 1; /* Show overlay */
}

#note-popup-container{
  background-color: rgb(198, 193, 193);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 70%;
  max-height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#close-note-form-btn{
  background-color: whitesmoke;
  color: red;
  border-radius: 20px;
  width: 25px;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  align-self: flex-end;
  justify-self: flex-end;
  transition: background-color 1s, color 1s, outline 1s;
}

#close-note-form-btn:hover{
  background-color: red;
  color: whitesmoke;
  outline: 1px solid whitesmoke;
}

#note-popup-container h2{
  margin-bottom: 5px;
}

#note-popup-container form{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-width: 90%;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#note-popup-container form textarea{
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: wheat;
  color: mediumvioletred;
  font-size: large;
  font-weight: 600;
  max-width: 90%;
  max-height: 90%;
}

#note-popup-container form button{
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: wheat;
  background-color: mediumvioletred;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: all 1s;
}

#note-popup-container form button:hover{
  background-color: wheat;
  color: mediumvioletred;
  outline: 1px solid mediumvioletred;
}

.note-card{
  background-color: bisque;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border-left: 4px solid gray;
  border-bottom: 4px solid gray;
  color: cadetblue;
  font-size: larger;
  font-weight: 500;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.note-card button{
  width: 50%;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  color: wheat;
  background-color: red;
  cursor: pointer;
  transition: all 1s;
}
.note-card button:hover{
  background-color: wheat;
  color: red;
  outline: 1px solid red;
}


@media screen and (max-width: 6500px){
  #note-popup-container{
    min-width:95%
  } 
  #note-popup-container form{
    min-width: 100%;
  }
  #note-popup-container form textarea{
    min-width: 95%;
  }
}