#project-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.project-item-div{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(188, 188, 230);
  border-radius: 10px;
}
.project-name{
  flex: 1;
}
.project-items-btns-div{
  display: flex;
  gap: 4px;
}
.project-items-btns-div .project-item-button{
  width: 70px;
  height: auto;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(192, 241, 241);
  transition: background-color 1s, 
              color 1s,
              outline 1s;
}
#project-add-to-do-button{
  color: rgb(5, 241, 5);
}
#project-add-to-do-button:hover{
  background-color: rgb(103, 243, 103);
  color: whitesmoke;
  outline: 1px solid whitesmoke;
}
#project-edit-button{
  color: steelblue;
}
#project-edit-button:hover{
  background-color: rgb(252, 227, 90);
  color: red;
  outline: 1px solid red;
}
#project-delete-button{
  color: red;
}
#project-delete-button:hover{
  background-color: rgb(78, 175, 175);
  color: rgb(234, 252, 252);
  outline: 1px solid mediumvioletred;
}

@media screen and (max-width: 650px){
  .project-item-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}