#footer{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  font-size: 1.3rem;
  font-weight: bold;
  animation: slideInFromBottom 1s ease-in;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}